/* common shared styles */
body{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: open system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.colour{
    color: hsl(16, 100%, 50%);
}
.bt-primary {
    border-radius: 5px;
    background: hsl(20, 85%, 52%);
    border: 0;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 10px 20px;

}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav title{
color: #131111;
font-size: 100px;
font-weight: 800;
align-items: center;
}
nav>ul{
    display: flex;
 align-items: center;
 margin: 100px;
}
nav li{
    list-style: none;
      margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: #131111;
}
.header{
    background-color: azure;
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat ;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
    .profile{
        width: 500px;
        align-items: right;
        
    }
    .greeting{
        font-size: 25px;
    }
    .titles{
        font-size: 85px;
        font-weight: 800;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    /* main styles  */
    main{
        width: 1140px;
        margin: 0 auto;
    }

    /* about section style */
    .about{
        padding: 30px; 
        border-radius: 10px;
        background: bisque;
        margin-top: 130px;
    }
    .sectiion-title{
        color: #131111;
        
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        
    
    }
    .section-description{
        color: #3e3232;
        text-align: center;
        font-size: 18px;
    }
 .about-info-container{
    display: flex;
    justify-content: space-between;
 } 
 .about-info{
    text-align: center;
 }
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 20px;
}
.skill{
    padding: 35px;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: cornsilk;
  
}
.skill-description{
    color: black;
}
.resume-colum-title{
    color: rosybrown;
    font-size: 40px;
     font-weight: 800;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-title{
    color: coral;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 20px;
}
.resume-item-description,.resume-item-institute{
    color: hsl(33, 92%, 25%)
}
.resume-container hr{
    margin: 30px 30px;

    
}
.download-CV{
    text-align: center;
    margin-top: 50px;
}